@model SupremeBot.Models.TaskItem

@{
    ViewData["Title"] = "TaskDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TaskDetails</h2>

<div>
    <h4>TaskItem</h4>
    <hr />
    <form id="form">
        <dl class="dl-horizontal">
            <dt>
                Name
            </dt>
            <dd>
                <input type="text" id="taskNameInput" value="@Model.Name"/>
            </dd>
            <dt>
                Delay
            </dt>
            <dd>
                <input type="number" id="taskDelayInput" value="@Model.Delay" />
            </dd>
            <dt>
                Refresh Interval
            </dt>
            <dd>
                <input type="number" id="taskRefreshIntervalInput" value="@Model.RefreshInterval" />
            </dd>
            <dt>
                Only With Empty Basket
            </dt>
            <dd>
                <input type="checkbox" id="taskOnlyWithEmptyBasketInput" checked="@Model.OnlyWithEmptyBasket" />
            </dd>
            <dt>
                Use Timer
            </dt>
            <dd>
                <input type="checkbox" id="taskUseTimerInput" checked="@Model.UseTimer" />
            </dd>
            <dt>
                Hour
            </dt>
            <dd>
                <input type="number" id="taskHourInput" value="@Model.Hour" />
            </dd>
            <dt>
                Minute
            </dt>
            <dd>
                <input type="number" id="taskMinuteInput" value="@Model.Minute" />
            </dd>
            <dt>
                Second
            </dt>
            <dd>
                <input type="number" id="taskSecondInput" value="@Model.Second" />
            </dd>
            <dt>
                Fill Address
            </dt>
            <dd>
                <input type="checkbox" id="taskFillAddressInput" checked="@Model.FillAdress" />
            </dd>
            <dt>
                Card
            </dt>
            <dd>
                <select id="cardSelect"></select>
            </dd>
            <dt>
                Address
            </dt>
            <dd>
                <select id="addressSelect"></select>
            </dd>
        </dl>
        <input type="submit" value="Edit Task" id="editTaskSubmit"/>
    </form>
    <table class="table" id="table">
        <thead>
        <tr>
            <th>Names</th>
            <th>Any Color</th>
            <th>Colors</th>
            <th>Category</th>
            <th>Size</th>
            <th>Add</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @*@if(Model.Items != null)
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>item.Name</td>
                            <td></td>
                            <td>Colors</td>
                            <td>Category</td>
                            <td>Size</td>
                            <td>Add</td>
                            <td>Delete</td>
                        </tr>
                    }
                }*@
        </tbody>
    </table>
</div>
<div>
    <button id="addRowButton">Next Item</button>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var fillAddressSelect = () => {
        var addressSelect = document.getElementById("addressSelect");

        $.getJSON("/addresses/addresses")
            .done(function(data) {
                console.log(data);
                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        var option = document.createElement("option");
                        option.value = data[key].id;
                        option.text = data[key].name;
                        addressSelect.add(option);
                    });

            });

        addressSelect.selectedIndex = @Model.AddressId;
    };

    var fillCardSelect = () => {
        var cardSelect = document.getElementById("cardSelect");

        $.getJSON("/cards/cards")
            .done(function(data) {
                console.log(data);
                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        var option = document.createElement("option");
                        option.value = data[key].id;
                        option.text = data[key].name;
                        cardSelect.add(option);
                    });

            });

        addressSelect.selectedIndex = @Model.CardId;
    };

    var insertNewRow = () => {
        var table = document.getElementById("table");
        var row = table.insertRow();

        var nameCell = row.insertCell();
        var anyColorCell = row.insertCell();
        var colorsCell = row.insertCell();
        var categoryCell = row.insertCell();
        var sizeCell = row.insertCell();
        var addCell = row.insertCell();
        var deleteCell = row.insertCell();
        var idCell = row.insertCell();

        var nameInput = document.createElement("input");
        nameInput.type = "text";
        nameCell.appendChild(nameInput);

        var anyColorInput = document.createElement("input");
        anyColorInput.type = "checkbox";
        anyColorCell.appendChild(anyColorInput);

        var colorsInput = document.createElement("input");
        nameInput.type = "text";
        colorsCell.appendChild(colorsInput);

        var categorySelect = document.createElement("select");
        fillCategoryOptions(categorySelect);
        categoryCell.appendChild(categorySelect);

        var sizeSelect = document.createElement("select");
        fillSizeOptions(sizeSelect);
        sizeCell.appendChild(sizeSelect);

        var addButton = document.createElement("button");
        addButton.innerHTML = "Add";
        addButton.onclick = () => {
            addItem(row.rowIndex);
        }
        addCell.appendChild(addButton);

        var deleteButton = document.createElement("button");
        deleteButton.innerHTML = "Delete";
        deleteButton.disabled = true;
        deleteButton.onclick = () => {
            deleteItem(row.rowIndex);
        }
        deleteCell.appendChild(deleteButton);

        idCell.innerHTML = "-1";
    }

    var addItem = (rowIndex) => {
        var table = document.getElementById("table");
        //console.log(table.rows[rowIndex].cells[3].children[0]);
        var json = {
            names: table.rows[rowIndex].cells[0].children[0].value,
            anyColor: table.rows[rowIndex].cells[1].children[0].checked,
            colors: table.rows[rowIndex].cells[2].children[0].value,
            category: table.rows[rowIndex].cells[3].children[0].selectedIndex,
            size: table.rows[rowIndex].cells[4].children[0].selectedIndex,
            taskId: @Model.Id
        };

        console.log(json);

        $.ajax({
                method: "POST",
                url: '/tasks/additemtotask',
                data: JSON.stringify(json),
                contentType: 'application/json'

            })
            .done(function (data) {
                table.rows[rowIndex].cells[5].children[0].disabled = true;
                table.rows[rowIndex].cells[6].children[0].disabled = false;
                table.rows[rowIndex].cells[7].innerHTML = data.id;
            })
            .fail(function (data) {
                console.log("fail");
                console.log(data);
            });
    }

    var deleteItem = (rowIndex) => {
        var table = document.getElementById("table");
        var itemId = table.rows[rowIndex].cells[7].innerHTML;

        $.ajax({
                method: "DELETE",
                url: '/tasks/deleteitem',
                data: JSON.stringify(itemId),
                contentType: 'application/json'

            })
            .done(function (data) {
                console.log("done");
                table.deleteRow(rowIndex);
            })
            .fail(function (data) {
                console.log("fail");
                console.log(data);
            });
    }

    var fillSizeOptions = (select) => {
        var option = document.createElement("option");
        option.text = "Small";
        option.Value = 0;
        select.add(option);

        var option1 = document.createElement("option");
        option1.text = "Medium";
        option1.Value = 1;
        select.add(option1);

        var option2 = document.createElement("option");
        option2.text = "Large";
        option2.Value = 2;
        select.add(option2);

        var option3 = document.createElement("option");
        option3.text = "XLarge";
        option3.Value = 3;
        select.add(option3);
    }

    var fillCategoryOptions = (select) => {
        var option = document.createElement("option");
        option.text = "jackets";
        option.Value = 0;
        select.add(option);

        var option1 = document.createElement("option");
        option1.text = "tops_sweaters";
        option1.Value = 1;
        select.add(option1);

        var option2 = document.createElement("option");
        option2.text = "sweatshirts";
        option2.Value = 2;
        select.add(option2);

        var option3 = document.createElement("option");
        option3.text = "pants";
        option3.Value = 3;
        select.add(option3);

        var option4 = document.createElement("option");
        option4.text = "t_shirts";
        option4.Value = 4;
        select.add(option4);

        var option5 = document.createElement("option");
        option5.text = "hats";
        option5.Value = 5;
        select.add(option5);

        var option6 = document.createElement("option");
        option6.text = "bags";
        option6.Value = 6;
        select.add(option6);

        var option7 = document.createElement("option");
        option7.text = "accessories";
        option7.Value = 7;
        select.add(option7);

        var option8 = document.createElement("option");
        option8.text = "skate";
        option8.Value = 8;
        select.add(option8);
    }

    var appendData = (item) => {
        var table = document.getElementById("table");
        var row = table.insertRow();

        var nameCell = row.insertCell();
        var anyColorCell = row.insertCell();
        var colorsCell = row.insertCell();
        var categoryCell = row.insertCell();
        var sizeCell = row.insertCell();
        var addCell = row.insertCell();
        var deleteCell = row.insertCell();
        var idCell = row.insertCell();

        var nameInput = document.createElement("input");
        nameInput.type = "text";
        nameInput.value = item.names;
        nameCell.appendChild(nameInput);

        var anyColorInput = document.createElement("input");
        anyColorInput.type = "checkbox";
        anyColorInput.checked = item.anyColor;
        console.log("any color: " + item.anyColor);
        anyColorCell.appendChild(anyColorInput);

        var colorsInput = document.createElement("input");
        colorsInput.type = "text";
        colorsInput.value = item.colors;
        colorsCell.appendChild(colorsInput);

        categorySelect = document.createElement("select");
        fillCategoryOptions(categorySelect);
        categorySelect.selectedIndex = item.category;
        categoryCell.appendChild(categorySelect);

        sizeSelect = document.createElement("select");
        fillSizeOptions(sizeSelect);
        sizeSelect.selectedIndex = item.size;
        sizeCell.appendChild(sizeSelect);

        var addButton = document.createElement("button");
        addButton.innerHTML = "Add";
        addButton.disabled = true;
        addButton.onclick = () => {
            addItem(row.rowIndex);
        }
        addCell.appendChild(addButton);

        var deleteButton = document.createElement("button");
        deleteButton.innerHTML = "Delete";
        deleteButton.onclick = () => {
            deleteItem(row.rowIndex);
        }
        deleteCell.appendChild(deleteButton);

        idCell.innerHTML = item.id;
    }

    document.addEventListener("DOMContentLoaded", function (event) {

        fillAddressSelect();
        fillCardSelect();

        $.getJSON("/tasks/ItemsOfTask/" + @Model.Id)
            .done(function(data) {
                console.log(data);
                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        appendData(item);
                    });
                insertNewRow();

            });

        document.getElementById("addRowButton").onclick = () => insertNewRow();

        $("#form").submit(function(event) {
            console.log("clicked");
            /* stop form from submitting normally */
            event.preventDefault();

            var jason = {
                id: @Model.Id,
                name: document.getElementById('taskNameInput').value,
                delay: document.getElementById('taskDelayInput').value,
                refreshInterval: document.getElementById('taskRefreshIntervalInput').value,
                useTimer: document.getElementById('taskUseTimerInput').checked,
                onlyWithEmptyBasket: document.getElementById('taskOnlyWithEmptyBasketInput').checked,
                fillAddress: document.getElementById('taskFillAddressInput').checked,
                addressId: document.getElementById('addressSelect').value,
                cardId: document.getElementById('cardSelect').value,
                //time: document.getElementById('timeInput').value,
                hour: document.getElementById('taskHourInput').value,
                minute: document.getElementById('taskMinuteInput').value,
                second: document.getElementById('taskSecondInput').value,
            };

            console.log("edit task jason: ");
            console.log(jason);

            $.ajax({
                method: "PUT",
                url: '/tasks/edittask',
                data: JSON.stringify(jason),
                contentType: 'application/json'

            })
                .fail((data) => {
                    console.log("fail");
                    console.log(data);
                });
        });


        //insertNewRow();


    });

</script>
