@model SupremeBot.Models.TimerParams
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p id="hour" hidden>@Model.Hour</p>
    <p id="minute" hidden>@Model.Minute</p>
    <p id="second" hidden>@Model.Second</p>
    <p id="main-label">Site:</p><p id="site"> @ViewBag.SiteUrl</p>
    <p id="main-label">Program should start on @Model.Hour:@Model.Minute:@Model.Second</p>
    <p id="counter">counting...</p>
</body>
</html>

<script>
    const TIME_SERVER_URL = "https://script.googleusercontent.com/macros/echo?user_content_key=SxiYpwxzxdmqzwTHoxfoXGZwOvhLfnIYPmnMBGWiqdQlvE4aKHXZ_n7chjoFITw7uIlzs1hsnBMBOg34RHnSH3SqoEKW_wJ-m5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnJ9GRkcRevgjTvo8Dc32iw_BLJPcPfRdVKhJT5HNzQuXEeN3QFwl2n0M6ZmO-h7C6eIqWsDnSrEd&lib=MwxUjRcLr2qLlnVOLh12wSNkqcO1Ikdrk";

    fetch(TIME_SERVER_URL).then(timer => timer.json())
        .then(timer => {
            let hour = document.getElementById("hour").textContent;
            let minute = document.getElementById("minute").textContent;
            let second = document.getElementById("second").textContent;
            let distance = (hour - timer.hours - 1) * 3600 + (minute - timer.minutes) * 60 + (second - timer.seconds);

            var x = setInterval(function() {
              var hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
              var minutes = Math.floor((distance % (60 * 60)) / 60);
              var seconds = Math.floor((distance % 60));

                document.getElementById("counter").innerHTML = hours + ":"
                    + minutes + ":" + seconds;

              distance--;

              if (distance < 0) {
                clearInterval(x);
                  document.getElementById("counter").innerHTML = "starting...";

                  let url = document.getElementById("site").textContent;
                  window.open(url);
                  @*//window.location.href = '@Url.Action("Execute", "Timer")';
                var jason = { taskId: @Model.TaskId, siteId: @Model.Site };
                  console.log('hehehehehehe');
                console.log(jason);
                //console.log(@Model.TaskId);
                console.log('@Url.Action("Execute", "Timer", new {taskId = Model.TaskId})');
                  window.location.href = '@Url.Action("Execute", "Timer", new {taskId = Model.TaskId})';*@

              }
            }, 1000);
        });

</script>

<style>
    body {
        text-align: center;
        background-color: #202020;
    }

    #main-label {
        font-size: 50px;
        color: white;
    }

    #site {
        font-size: 50px;
        color: red;
    }

    #counter {
        padding: 50px;
        font-size: 100px;
        color: white;
    }
</style>
